@{
    ViewBag.Title = "Verified Links";
}
<p></p>
<div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Search For Verified Links</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p> Type in a url to find any verified children of that link. For example searching for 'https://www.eastsussex.gov.uk/environment/' will find any verified links that come after '/environment/'.</p>
                    </div>
                </div>
                <div class="row">
                    @using (Html.BeginForm("GetVerifiedChildLinks", "VerifiedLinkChecker", FormMethod.Post))
                    {
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

                            </div>

                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <input type="submit" class="btn btn-primary" value="Search" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">View All Verified Links</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <p>Total Verified: #####</p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <p><a class="btn btn-success" href="/VerifiedLinkChecker/ViewAll">View &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

