@model  Escc.Umbraco.LinksManager.Models.InboundLinkChecker.InboundLinkCheckerViewModel

<h4>Inbound links to: @Model.PageName (Id @Model.PageID)</h4>
<p></p>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Local</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p></p>
                @{Html.RenderPartial("~/Views/Partials/_DataTable.cshtml", Model.LocalLinks);}
            </div>
        </div>
    </div>
</div>
<p></p>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Redirects</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p></p>
                @{Html.RenderPartial("~/Views/Partials/_DataTable.cshtml", Model.RedirectedLinks);}
            </div>
        </div>
    </div>
</div>
<p></p>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">External</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p></p>
                @{Html.RenderPartial("~/Views/Partials/_DataTable.cshtml", Model.ExternalLinks);}
            </div>
        </div>
    </div>
</div>

