@using Escc.Umbraco.LinksManager.Utility
@{
    ViewBag.Title = "Page inbound links";
}

<p></p>
<div class="row">
    <div class="jumbotron">
        <h1>Umbraco Links Manager</h1>
        <p>The 'ESCC' SEO Tool, Use this application to find 'What Links where', broken links and working links on our site.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">InBound Link Checker</h3>
            </div>
            <div class="panel-body">
                <p>  Use the Inbound link checker to find 'What Links Where' using the umbraco and redirects database. This tool also uses the InSpyder CSV file but has proven to be unreliable.</p>
                <p><a class="btn btn-info" href="/InboundLinkChecker/Index">View &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Verified Links</h3>
            </div>
            <div class="panel-body">
                <p>Use Verified Links to find the working links on our site.</p>
                @Html.RouteLink("View", "Verified", new { }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Broken Links</h3>
            </div>
            <div class="panel-body">
                <p>Use Broken Links to find the links on our site that don't work.</p>
                @Html.RouteLink("View", "Broken", new {}, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>
